<% if items && !items.empty? %>
    <div class="row category-container">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2><%= category.humanize %></h2>
          </div>

          <table class="table table-hover menu">
            <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>View count</th>
            </tr>
            </thead>
            <tbody>
            <% items.each do |item| %>
                <tr>
                  <td class="item-name" data-id="<%= item.id %>"><%= item.name %></td>
                  <td><%= item.price %></td>
                  <td class="current-view-count"><%= item.view_count %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-6 detail-view">
      </div>
    </div>
<% end %>
