<%= render partial: '/orders/add_item' %>

<form action="<%= menu_items_path %>" method="get" class="form-inline">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name"/>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select id="category" name="category" class="selectpicker">
      <option value="">All</option>
      <option value="<%= MenuItem.categories[:breakfast] %>">Breakfast</option>
      <option value="<%= MenuItem.categories[:lunch] %>">Lunch</option>
      <option value="<%= MenuItem.categories[:dinner] %>">Dinner</option>
      <option value="<%= MenuItem.categories[:drink] %>">Drinks</option>
    </select>
  </div>
  <div class="form-group">
    <label for="sort">Sort by</label>
    <select id="sort" name="sort" class="selectpicker">
      <option value="name">Name</option>
      <option value="price">Price</option>
      <option value="view_count">Views</option>
    </select>
  </div>
  <div class="form-group">
    <label for="order">Order</label>
    <select id="order" name="order" class="selectpicker">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  </div>
  <button class="btn btn-info" type="submit">Submit</button>
</form>

<%= render partial: 'menu_items', locals: {items: @breakfast_items, category: 'Breakfast'} %>
<%= render partial: 'menu_items', locals: {items: @lunch_items, category: 'Lunch'} %>
<%= render partial: 'menu_items', locals: {items: @dinner_items, category: 'Dinner'} %>
<%= render partial: 'menu_items', locals: {items: @drink_items, category: 'Drinks'} %>