<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Restaurant</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<div class="container">
  <h1>Thank you for your order</h1>
  <p>Below is your order detail.</p>

  <div class="panel">
    <div class="row">
      <div class="col-md-3">
        <span><strong>Name</strong></span>
      </div>
      <div class="col-md-6">
        <span><%= @order.name %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span><strong>Email</strong></span>
      </div>
      <div class="col-md-6">
        <span><%= @order.email %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span><strong>Phone</strong></span>
      </div>
      <div class="col-md-6">
        <span><%= @order.phone %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span><strong>Address</strong></span>
      </div>
      <div class="col-md-6">
        <span><%= @order.address %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span><strong>Order time</strong></span>
      </div>
      <div class="col-md-6">
        <span><%= @order.created_at.strftime("%H:%M, %d-%m-%Y") %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span><strong>Coupon</strong></span>
      </div>
      <div class="col-md-6">
        <span><%= @order.coupon %></span>
      </div>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <% @order.menu_items.each do |item| %>
        <tr>
          <td class="item-name" data-id="<%= item.id %>"><%= item.name %></td>
          <td><%= item.price %></td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td><strong>Delivery</strong></td>
      <td><%= @order.delivery %></td>
    </tr>
    <tr>
      <td><strong>Discount</strong></td>
      <td><%= @order.discount_amount %></td>
    </tr>
    <tr>
      <td><strong>Total</strong></td>
      <td><%= @order.total %></td>
    </tr>
    </tfoot>
  </table>

  <a href="<%= root_path %>">Back</a>

</div>
</body>
</html>
