<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tag %>
  <title>Restaurant</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Heart Attack restaurant</h1>
    <p>Our dishes are designed to give you heart attack as soon as possible.</p>
  </div>

  <ul class="nav nav-tabs">
    <li role="presentation" class="<%= current_page?(menu_items_path) ? 'active' : '' %>">
      <a href="<%= menu_items_path %>">Menu</a>
    </li>
    <li role="presentation" class="<%= current_page?(contact_us_path) ? 'active' : '' %>">
      <a href="<%= contact_us_path %>">Contact us</a>
    </li>
  </ul>
  <%= yield %>
</div>
</body>
</html>
